/* Body styling */

 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
  }

/* Body styling END */

 /* link styling */
a:visited {
    color: inherit; /* or specify your preferred color */
  }

  a:hover {
    text-decoration: none; /* Remove underline */
    /* You can also customize other styles like color if needed */
  }
 /* link styling END*/

 /* HEADER */

.header {
    display: grid;
    grid-template-columns: 1fr auto auto; /* Three columns: Left Text, Button 1, Button 2 */
    align-items: center; /* Vertically center content */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    height: 50px;
}

.title {
    grid-column: 1 / span 1; /* Position in the first column */

}

.buttons {
    grid-column: 2 / span 1; /* Position in the last two columns */
    text-align: right; /* Align buttons to the right */
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*HEADER END */

/*MAIN */

.main {
    padding: 10% 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal rows */
    gap: 20px; /* Add some gap between the boxes */
    height: 400px; /* Optional: Set a height for the grid container */
    margin: 0 auto; /* Optional: Center the grid container */
}

.box {
    background-color: #007bff;
    color: #fff;
    padding: 10%;
    text-align: center;
    border: 1px solid #ccc;
}


/* MAIN */

/* LOOK SECTION */
.look{
    display: grid;
    justify-content: center;
    padding-top: 5px;
}

.look-button{
    padding: 30px 30px 30px 30px;
}

/* LOOK SECTION END */

/* Styles for the pop-up form container */
.popup-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    z-index: 1;
}

/* Styles for the form container within the pop-up */
.form-container {
    background-color: #fff;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Style for the close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}