/* Body styling */

 body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
  }

/* Body styling END */

 /* link styling */
a:visited {
    color: inherit; /* or specify your preferred color */
  }

  a:hover {
    text-decoration: none; /* Remove underline */
    /* You can also customize other styles like color if needed */
  }
 /* link styling END*/

 /* HEADER */

.header {
    display: grid;
    grid-template-columns: 1fr auto auto; /* Three columns: Left Text, Button 1, Button 2 */
    align-items: center; /* Vertically center content */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    height: 50px;
}

.title {
    grid-column: 1 / span 1; /* Position in the first column */

}

.buttons {
    grid-column: 2 / span 1; /* Position in the last two columns */
    text-align: right; /* Align buttons to the right */
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*HEADER END */

/*MAIN */

.main {
    padding: 7% 5% 7% 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal rows */
    gap: 40px; /* Add some gap between the boxes */
    margin: 0 auto; /* Optional: Center the grid container */
    flex: 1;
}

.box {
  background-color: aquamarine;
    color: #fff;
    padding: 10%;
    height: 275px;
    text-align: center;
    border: 1px solid #ccc;
    color: black;
    border-radius: 10px; /* You can adjust the value to control the roundness */
  /* Other CSS properties for styling your box */
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2); /* Adjust shadow properties as needed */
  /* Other CSS properties for styling your box */
}

.box:hover {
  transform: scale(1.1); /* Increase size on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
  cursor: pointer;
}


/* MAIN */

/* LOOK SECTION */
.look{
    display: grid;
    justify-content: center;
    padding-top: 5px;
    height: 150px;
}

.look-button{
    padding: 30px 30px 30px 30px;
}

#btn{
  height: 50px;
}


/* LOOK SECTION END */


/* FORM STYLING */

form{
    display: inline-block;
}

.hidden {
    display: none;
  }
  
  /* Style the popup form */
  #popupForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    height: 400px;
    width: 600px;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 70px;
  }

  .submit-button{
    text-align: center;
    justify-content: center;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
  }

  .form-row {
    display: flex;
    align-items: center; /* Vertically center-align items within each row */
    margin-bottom: 10px; /* Add spacing between rows */
  }
  
  /* Style labels for better alignment */
  .form-row label {
    width: 200px; /* Adjust the width as needed */
    margin-right: 10px; /* Add spacing between label and input */
  }

  .h2-reg{
    text-align: center;
  }

  /* FORM STYLING END */


  /*TEAM PAGE CSS */

 .teams{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 15px;
  margin: 50px 50px 0px 50px;
  margin-bottom: 75px;

 }

 .team-box{
  text-align: center;
  height: 350px;
  border: 1px solid blue;
 }

 .teams-header{
  text-align: center;
  margin-top: 40px;
 }

 /* TEAM PAGE END */

 /* DOWNLOAD PAGE */

 .download{
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: aquamarine;
  grid-template-columns: repeat(2, 1fr);
 }

 /* FOOTER */

 footer {
  /* Your footer styles go here */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}

 /* DOWNLOAD PAGE */

 /* UPCOMING MATCHES */

 .upcoming{
    display: grid;
    padding: 2% 2% 5% 2%;
    background-color: #00353f;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr); /* Three equal rows */
    gap: 5px; /* Add some gap between the boxes */
    border: 1px solid green;
    color: white;
 }

 .text {
  grid-column: span 5; /* This spans two columns */
  text-align: center; /* Center the text horizontally */
  padding-bottom: 2%;
}

 .match{
  display: grid;
  grid-template-columns: repeat(4, 1fr)
 }

 .icons{
  width: 80px;
  height: 80px;
 }

 .match button{
  grid-column: 2;

 }
 /* FOOTER END */

 /* For screens between 768px and 992px (typical for tablets) */
@media (min-width: 769px) and (max-width: 992px) {
    .main{
      padding: 10% 5% 5% 5%;
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Three equal rows */
      gap: 10px; /* Add some gap between the boxes */
      margin: 0 auto; /* Optional: Center the grid container */
      flex: 1;
    }
   
}

@media (max-width: 768px) {
  .main{
    padding: 10% 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Three equal rows */
    gap: 20px; /* Add some gap between the boxes */
    margin: 0 auto; /* Optional: Center the grid container */
    flex: 1;
  }
}